:root {
    --darkred: darkred;
    --lightgray: lightgray;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    padding: 40px;
    background-color: var(--darkred);
    ba
}

.header h1 {
    font-size: 48px;
    font-weight: bold;
    display: inline-block;
}

.header nav {
    font-family: 'Courier New', Courier, monospace;
    float: right;
    font-size: 30px;
    list-style-type: none;
    margin-top: 10px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: var(--lightgray);
    font-weight: bold;
}

.trees {
    height: 1000px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/tree-background.jpeg");
    background-size: cover;
    background-position: center;
}

.selfie img{
    padding-top: 20px;
    border-radius: 50%;
    height: 30%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}