:root {
    --darkred: darkred;
    --lightgray: lightgray;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    padding: 40px;
    background-color: var(--darkred);
}

.header h1 {
    font-size: 48px;
    font-weight: bold;
    display: inline-block;
}

.header nav {
    font-family: 'Courier New', Courier, monospace;
    float: right;
    font-size: 30px;
    list-style-type: none;
    margin-top: 10px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.header a {
    text-decoration: none;
    color: var(--lightgray);
    font-weight: bold;
}

.trees {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/tree-background.jpeg");
    background-size: cover;
    background-position: center;
}

.selfie img {
    position: relative;
    top: 20px;
    border-radius: 50%;
    height: 30%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px var(--lightgray);
    box-shadow: black 20px 20px 20px;
}

.about {
    text-align: center;
    margin-top: 20px;
    margin-right: 30%;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: var(--darkred);
    font-weight: bold;
    background-color: var(--lightgray);
    border: solid black 3px;
    border-radius: 0 20px 20px 0;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: var(--darkred);
    font-size: 20px;
    font-weight: bold;
    margin-left: 30%;
    padding: 10px;
    border: solid var(--lightgray) 3px;
    border-radius: 20px 0 0 20px;
}





